html {
  height: 100%;
  width: 100%;
}

body {
  display: table;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.row {
  display: table-row;
  height: 50%;
}

.row:nth-child(1) {
  background-color: #02064a;
}

.row:nth-child(2) {
  background-color: white;
}

.banner {
  background-image: linear-gradient(rgba(15, 1, 77, 0.85), rgba(15, 1, 77, 0.85)), url("friends.jpeg");
  background-repeat: space;
  /* filter: opacity(50%); */
  background-size: 90px 90px;
}

.loginForm {
  display: block;
  color:white;
}

.login {
  float: right;
  padding-left: 5px;
}
.loginPass {
  float: right;
}
.logo {
  float: left;
  width: 200px;
  margin-left: 30%;
}

.details {
  justify-content: center;
  text-align: center;
}
.info {
  width: 760px;
  margin-left: 25%;
}

.getStarted {
  color: white;
  width: 800px;
  margin-left: 25%;
  margin-top: 10%;
  font-weight: 300;
  line-height: 1.3rem;
}

h1 {
  font-weight: 300;
  line-height: 1.3rem;
}

h2 {
  font-weight: 300;
  line-height: 1.3rem;
}
p{
  line-height: 150%;
}

.button {
  background-color: rgb(13, 105, 192);
  color: whitesmoke;
  border: none;
  height: 35px;
  width: 120px;
  border-radius: 4px;
}

.spacing {
  margin-top: 20px;
  margin-bottom: 20px;
}

.loginIn {
  margin-top: 16px;
  margin-right: 20%;
}

.gettingstartedBtn {
  width: 150px;
}

input {
height: 30px;
width: 180px;
opacity: 0.8;
border: none;
border-radius: 4px;
}

.footer {
display: table;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgb(13, 105, 192);
  color: white;
}

ul {
margin-left: 30%;
list-style: none;
}
